{
	"data": "ENC[AES256_GCM,data:k/NeabDUgr8Lne9SUiycKlY38++qPnFbMU+cclekmob4qoX9UAxIYNxzoq/UkzJS0oC2lavhRM7kye2hULP9h/rpAtNkLP4dNeRrKHN2a3MweBy/Qo44u7Lm+el317fgtCI+hImt+I267pkCWqkymgIEhzPgXOVubcUuq2IVVGNMMLC4RblAgg70K39ITs3cAgIOpUq36f9D3EVWcdO9rYNSn2zumid9Ba8QNLlYsUv353EDePVUyH9nVS0jIje8F/QkrM+ctaB9E302vxfZJjaspc+UYmDXFAEjvs09KkTHRSi/VHd1zpJJg216ItlbYg==,iv:m/6jdgcXqLwB7oCI1isXGJTwQllmOsncMCe6sWkrdUs=,tag:JSTrzXLC0N4NmRZ9D2MZtg==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1f6xmttma375esf4j4r3kwnc2nm8007x6lkgnv3tw53hyyqn539xq8teps8",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBXN1FBdmZWWFBQTzZSanM4\nMFU2N3NyaEZPRmVaZEpjdVR5QnpOamNnS1VNCkRpZHRZWEtWM1ZxTGNodEg4ZzFS\nSmhKR2g2MGxhUGszQXA1OHdaRWROaGcKLS0tIDZpUHVNZERtVDNKVXNxZEs1cTRa\nTXdHZkNTc0JwUVA1SkhGR0xZUGVOejQKyr+E89h4RJvILHdAtsdUhpHyqk+SLq6P\n+hD+pV2YvsOIiydwMzKAk8x6joRPZpXzU2CHLLkXYDXQDvCSqKv+Lg==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2023-11-04T21:47:33Z",
		"mac": "ENC[AES256_GCM,data:9RIN93he+BFG0VKVPNUBseZQGjeT0P0EaiMtTrnG0ImiQwPS6aEW9XFbXrKSxV9jQ7hgSWVpPPIc1lLRwEglp1du5uZNoRIpOGFeGU2HdcGd8hi7Aae9VOhF7Ey8PYcrj39MF2u2EhD+SkUp6mGw4DK4a0+wEInevhD2pEM90fU=,iv:d5ik71iBdLJrec3p7+qCYMG0+p85f80GvoDpqMk8Ekw=,tag:TD7+rG58E5N4he2cWhEZDw==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.7.3"
	}
}